body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1200px-Roasted_coffee_beans.jpg);
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
}

h1, h2, p {
    text-align: center;
}

.flavor {
    text-align: left;
}

.price {
    text-align: right;
}

.item p {
    display: inline-block
}

/* setting both margins on lines 8 and 9 centers the div with the class of menu */

/* p elements are block-level elements, so they take up the entire width of their parent element, ie the menu div in this case. to get them to behave like inline elements, one must apply styling. on lines 24-26, we use display: inline-block to select the article containing the p elements, and then select the p elements inside the article, and set them to fall into a single line similar to inline elements. */