/* SVG stands for Scalable Vector Graphic, and a useful property is the path attribute, which allows the img to be scaled without affecting the resolution of the image  */


/* max function returns the largest of a set of comma-separated values */

/* img {
    width: max(250px, 25vw);
} */

/* in above example, width will be 250px if viewport width is less than 1000px. if vw is greater than 1000px, if the vw is greater than 1000px, the width of img will be 25vw, because 25vw is equal to 25% of the viewport width. */


body {
    margin: 0;
    color: #1b1b32;
    font-family: Helvetica;
    background: #f5f6f7;
}


#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
}

h1, h2 {
    font-family: Verdana, sans-serif;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
}

h2 {
    border-bottom: 4px solid #dfdfe2;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}


nav > ul {
    display: flex;
    justify-content: space-evenly;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* the child combinator selector > is used between selectors to target elements that match the second selector and are direct children of the first selector, use when you have deeply nested elements and want to control scope of styling */

/* use the section semantic element to separate elements in form  */


/* to navigate around the page, give anchor tags hrefs matching id of elements you want to navigate to */



/* common pattern to visually hide text for only screen readers to read:  */

/* position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0; */