h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    height: 25px;
    width: 200px;
    /* margin: auto; */
    margin: 10px auto;
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(0, 255, 0);
}

.blue {
    background-color: rgb(0, 0, 0);
}

/* margin: auto; sets in order m-top, m-right, m-bottom, and m-left all at once - line 9  */

/* when margin has two values, it sets the first to mtop and mbottom, and the second to mleft and mright */


/* margin: 10px auto; this sets 10px top and bottom, and auto on left and right */


/* rgb each number is between 0 and 255, 0 being 0 % of the color red for example(which is black), and 255 being 100%. */

/* rgb is a function that takes three arguments for red green and blue and produces a color */

/* line 7 adding 10px padding to top and bottom, and setting 0 padding to the right and left; */



/* primary colors are colors that when combined create pure white which are red, green, and blue for rgb */

/* secondary colors are what you get when you combine primary colors which are yellow, cyan, and magenta */

/* tertiary colors combine secondary colors with nearby primary colors so red + yellow, red + cyan, red + magenta, green + yellow, green + cyan, green + magenta, blue + yellow, blue + cyan, blue + magenta, chartreuse green (green + yellow), azure (blue + cyan), and rose (red + magenta).  */



/* combine pure red + pure green => yellow */

/* combine pure green + pure blue => cyan */

/* combine pure red + pure blue => magenta */

/* combine red + yellow => orange */

/* combine green + cyan => spring green */

/* combine magenta + blue => violet */

/* chartreuse green (green + yellow), 

azure (blue + cyan),

and rose (red + magenta). */

/* on a color wheel, when two colors are opposite eachother they are called complementary */

/* if two complementary colors are combined they produce gray */

/* if they are placed side by side, they produce strong visual contrast and appear brighter */

/* try not to overuse these color combinations, best to choose one dominant color as background and choose a complementary color to accent it */