* {
    /* box-sizing: content-box;  */
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}


.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347; 
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;  
}

/* by default the content box model is used, which means when an element has a specific width, the width is calculated based only on the element's content. padding and border values get added to the total width, so the element grows to accomodate the value. */

/* opposite is border box sizing model, which means the total width of the element including padding and border will be the explicit width set. the content of the element will shrink to make room for the padding and border */

/* setting an element's display to flex makes the element a flex container */

/* direct children of flex containers are called flex-items */

/* flexbox has a main and a cross axis. the main axis is defined by the flex direction property, which has 4 poss. values */

/* 1: row - default: horizontal axis with flex-items from LEFT to RIGHT */

/* 2: row-reverse: horizontal axis with flex-items from RIGHT to LEFT */

/* 3: column: vertical axis with flex-items from TOP to BOTTOM */

/* 4: column-reverse: vertical axis with flex items from BOTTOM to TOP  */

/* flex-wrap has two options: either wrap, which lets items move onto the next line when page shrinks, or nowrap which shrinks items when page shrinks without moving to next line  */

/* justfify-content determines how flex items are placed along the MAIN axis, affecting their position and space around them */

/* align items positions flex items along the CROSS axis, with flex direction set to ROW for example, the cross axis is VERTICAL */