body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px; 
}

label {
    display: block;
    margin: 0 0.5rem 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em; 
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border-bottom: none;
}

input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 1em;
} 

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
   
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem; 
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
}

/* on line 44 remove width property of 100% set previously */


input[type="file"] {
    padding: 1px 2px;
}




/* margin: 0; sets the body's margin to 0 instead of the browser's default, which sometimes leaves room for a horizontal scrolbar  */

/* rem stands for root em, and is relative to the font size of the html element */

/* label elements are inline, multiple are displayed side by side on the same line, in order to display them on separate lines, set their display to block, and add a margin of 0.5rem 0 to separate them a bit */

/* you can select the last of a type of element using the last-of-type psuedo-class */

/* by default a padding of 1px 2px is given to inputs you can type in  */